body {
    background:#f0ebd8;
}
.row{
    margin-top: 25px;
    justify-content: space-between;
}
.navbar{
    background: #1d2d44;
    border-radius: 10px;
}
.link{
    text-align: center;
}
.container{
    margin-top: 25px;
    justify-content: right;
}
.main{
    min-height: 200px;
}
.sidebar{
    background: #3e5c76;
    border-radius: 10px;
    color: #f0ebd8;
    text-align: center;
}
.headshot{
    padding-top: 15px;
    padding-bottom: 15px;
}
.content{
    background: #748cab;
    border-radius: 10px;
    color: #f0ebd8;
    padding: 15px;
}
.footer{
    background: #1d2d44;
    color: #f0ebd8;
    border-radius: 10px;
    text-align: center;
}
a:link, a:visited {
    color: #f0ebd8;
    text-decoration: none;
}